*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  overflow: hidden;
  background-color: #f5f5f5;
}

.Home{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
}
.Home-image, .Home-text{
  margin: 0 1%;
}
.Home-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
}
.Home-text .title{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.Home-text .btnLoginAndRegister{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.Home-text .btnLoginAndRegister button{
    padding: 15px 30px;
    border-radius: 10px;
    
}
.Home-text .btnLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.Home-text .btnLogin button.btnLoginAdmin{
  background-color: blueviolet;
  color: white;
}
.Home-text .btnLogin button.btnLoginGuest{
  color: blueviolet;
 
  background-color: white;
  border: 1px solid blueviolet;
}
.Home-text h2{
  font-size: 3rem;
}

/* Register Page */

.register{
  display: flex;
  justify-content: center;
 
}
.RegisterForm{
  display: flex;
  flex-direction: column;
  padding: 50px 10px;
  row-gap: 30px;
}
.RegisterForm .FormTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RegisterForm form{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.RegisterForm form button{
  padding: 10px 0;
  color: white;
  background-color: blueviolet;
}
.RegisterForm form .goLogin{
  color: blueviolet;
}
.login{
  display: flex;
  align-items: center;
}
.LoginForm{
  height: 100vh;
}
.goRegister,.goLogin{
  text-decoration: none;
}

/* Home page */
.dashboard{
  display: flex;
  justify-content: center;
}
.dash{
  
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}
.navbar{
  background-color: #1976d2;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;

}
.navigation{
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 1px 2px 4px black;
  width: 4%;
  transition: all 0.5s ease-in-out;
  height: 100%;
}
.navbar .titre{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.open ~ .dash {
  
  width: 85%;
  
  transition: all 0.5s ease-in-out;

}
.open{
  width: 15%;
  transition: all 0.5s ease-in-out;
  
}
.sidebar-element{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  height: 90vh; 
  padding: 10px;
  row-gap: 20px;
}
.sibar-item{
  display: flex;
  align-items: center; 
  margin-bottom: 20px; 
  column-gap: 20px;
  padding: 10px;
  box-sizing: border-box; 
  pointer-events: auto;
}
.sibar-item p{
  font-size: 1.5rem;
}

p.sidebar-item-text{
  opacity: 0;
  transition: opacity 0.3s ease;
}

.open p.sidebar-item-text {
  opacity: 1;
}
.icon{
  font-size: 2.6em;
  transition: font-size 0.3s ease;
  
}
.open .icon{
  font-size: 2.5rem;
}
.dashboard-page{
  width: 100%;
  justify-content: center;
  margin: auto;
  text-align: center;
  height: 100vh;
}
.dashboard-home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1%;

}
.dashboard-data{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  align-items: center;
  
}
.dashboard-data div{
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  box-shadow: 1px 1px 4px black;
  margin: 0 10px;
  

}
.listeEtudiant{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.listeEtudiant .etudiant{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    flex-direction: column;
    background-color: hsl(210, 79%, 46%);
}
 .addEtudiant{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
 
}
.addEtudiant .etd-btn{
  font-size: 2rem;
}
.addEtudiant h4{
  font-size: 1.5rem;
}
.add-etd{
  display: flex;
  align-items: center;
  text-decoration: none;
  column-gap: 10px;
}
.add-etd a{
  text-decoration: none;

}
.add-etd a span{
  color: black;
}
.add-title{
  color: black;
}